<mat-toolbar mat-dialog-title class="d-flex" color="primary">
  <span>{{data.worry.name}}</span>
  <mat-icon class="ml-auto" aria-hidden="false" [mat-dialog-close]="null" aria-label="Close">close</mat-icon>
</mat-toolbar>
<div mat-dialog-content>
  
  <div class="w-100 text-center text-danger mt-2 mb-4" *ngIf="data.opinion">
    <strong i18n="WARNING|Warning:">Warning: </strong><span i18n="EDIT_OPINION_WARNING|Edit opinion warning">Editing an opinion will remove all likes associated with it. </span>
  </div>
  <div i18n="WORRY_LOCKED_ERR|Worry is locked error message" class="alert alert-danger text-center" *ngIf="error == 'WORRY_LOCKED'">
    You can't add opinions to a worry that is locked. 
  </div>
  <div i18n="OPINION_INVALID_USER|You are not allowed to create an opinion on someones behalf" class="alert alert-danger text-center" *ngIf="error == 'INVALID_USER'">
    You are not allowed to create an opinion on someones behalf
  </div>
  <div i18n="MAX_OPINIONS_REACHED|Max opinions reached" class="alert alert-danger text-center" *ngIf="error == 'MAX_OPINIONS_REACHED'">
    You can no longer add opinions to this worry. 
  </div>

  <p class="text-center">{{data.worry.description}}</p>
  <div class="d-flex w-100 justify-content-center p2">
    <p class="font-weight-bold" [ngClass]="fontColor">{{selectedOpinionLabel}}</p>
  </div>
  <form [formGroup]="createOpinionForm">
    <mat-form-field class="w-100">
        <textarea matInput placeholder="Your Opinion" i18n-placeholder="YOUR_OPINION_PH|Your Opinion" formControlName="text"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button color="primary" mat-raised-button [mat-dialog-close]="null" cdkFocusInitial i18n="CANCEL|Cancel">Cancel</button>
  <button color="accent" [disabled]="!createOpinionForm.valid" type="submit" (click)="onSubmit()" mat-raised-button i18n="SUBMIT|Submit">Submit</button>
</div>