<mat-toolbar mat-dialog-title color="primary">{{data.worry.name}}</mat-toolbar>
<div mat-dialog-content>
  <div class="w-100 text-center text-danger mt-2 mb-4" *ngIf="data.opinion">
    <strong>Warning: </strong>Editing an opinion will remove all likes associated with it. 
  </div>
  <div class="alert alert-danger text-center" *ngIf="error">
    {{errorMessage}}
  </div>
  <p class="text-center">{{data.worry.description}}</p>
  <div class="d-flex w-100 justify-content-center p2">
    <p class="font-weight-bold" [ngClass]="fontColor">{{selectedOpinionLabel}}</p>
  </div>
  <form [formGroup]="createOpinionForm">
    <mat-form-field class="w-100">
        <textarea matInput placeholder="Your Opinion" formControlName="text"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button color="primary" mat-raised-button [mat-dialog-close]="null" cdkFocusInitial>Cancel</button>
  <button color="accent" [disabled]="!createOpinionForm.valid" type="submit" (click)="onSubmit()" mat-raised-button>Submit</button>
</div>