<mat-card class="my-3" *ngIf="opinion" [class.for-border]="opinion.type == 1" [class.against-border]="opinion.type == 0">
  <mat-card-header>
    <img mat-card-avatar [src]="getUserProfileImage()">
    <mat-card-title *ngIf="opinion.user">{{opinion.user.displayName}}</mat-card-title>
    <mat-card-subtitle>{{opinion.date_created | date}}</mat-card-subtitle>
    <div class="ml-auto" *ngIf="opinion.user.id == userService.user.id">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opinion Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button [disabled]="worry.locked" (click)="editOpinionClicked(opinion)" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button (click)="removeOpinionClicked(opinion)" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{opinion.text}}
    </p>
  </mat-card-content>
  <mat-card-actions class="d-flex">

    <button
      class="ml-auto"
      [disabled]="worry.locked"
      mat-icon-button [color]="likedByUser ? 'accent' : ''"
      (click)="toggleLike()"
    >
      <mat-icon [matBadge]="opinion.opinionLikes ? opinion.opinionLikes.length : 0" matBadgeColor="warn">thumb_up</mat-icon>
    </button>

  </mat-card-actions>
</mat-card>
