<div class="d-flex flex-column mb-2">


  <div class="d-flex">
    <img [ngClass]="opinionBorder" class="mr-2" mat-card-avatar *ngIf="userProfileImage" [src]="userProfileImage">
    <div class="card d-flex flex-column flex-grow-1">
      <div class="d-flex p-1 align-items-center">
        <div class="user-name" *ngIf="opinion.user">{{opinion.user.displayName}}</div>
        <div class="creation-date text-muted">{{opinion.date_created | date}}</div>
        <div class="ml-auto" >
          <button
        [disabled]="worry.locked || !authService.loggedIn"
        mat-icon-button [color]="likedByUser ? 'accent' : ''"
        (click)="toggleLike()"
      >
        <mat-icon [matBadge]="opinion.opinionLikes ? opinion.opinionLikes.length : 0" matBadgeColor="warn">favorite</mat-icon>
      </button>
          <button *ngIf="userService.user && opinion.user.id == userService.user.id" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opinion Menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          
          <mat-menu #menu="matMenu">
            <button [disabled]="worry.locked" (click)="editOpinionClicked(opinion)" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span i18n="EDIT|Edit">Edit</span>
            </button>
            <button (click)="removeOpinionClicked(opinion)" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span i18n="REMOVE|Remove">Remove</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="opinion-text p-2">
        {{opinion.text}}
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end w-100" >
    <a [routerLink]="" mat-button (click)="addReply()" *ngIf="authService.loggedIn && authService.user.id != opinion.user.id && !reply">Reply</a>
    <a [routerLink]="" mat-button (click)="addReply()" *ngIf="opinion.replies && opinion.replies.length > 0">Replies ({{opinion.replies.length}})</a>
  </div>

</div>

<div class="pl-5">
  <app-add-edit-reply (onClose)="replyClosed()" (onReplyAdded)="replyAdded(reply)" *ngIf="reply && !editingReply" [reply]="reply" [opinion]="opinion" ></app-add-edit-reply>
</div>

<div class="pl-5" *ngFor="let opinionReply of helperService.getOpnionReplies(opinion)">
  <app-reply *ngIf="!editingReply || editingReply.id != opinionReply.id" [opinion]="opinion" (removeReply)="onReplyRemoved($event)" (editReply)="onReplyEdit($event)" [worry]="worry" [reply]="opinionReply"></app-reply>
  <app-add-edit-reply *ngIf='editingReply && editingReply.id == opinionReply.id' (onClose)="replyClosed()" (onReplyAdded)="replyAdded(reply)" [reply]="opinionReply" [opinion]="opinion" ></app-add-edit-reply>

  <!-- Add replies to this reply as well -->
  <div *ngFor="let r of helperService.getUserReplies(opinion, opinionReply)">
    <app-reply *ngIf="!editingReply || editingReply.id != r.id" [opinion]="opinion" (removeReply)="onReplyRemoved($event)" (editReply)="onReplyEdit($event)" [worry]="worry" [reply]="r" [parent]="opinionReply" ></app-reply>
    <app-add-edit-reply *ngIf='editingReply && editingReply.id == r.id'  (onClose)="replyClosed()" (onReplyAdded)="replyAdded(reply)" [reply]="r" [opinion]="opinion" ></app-add-edit-reply>
  </div>
  


</div>





