.worry-image{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        height: 100%;
        max-width: 200px;
        width: auto;
    }
}