
    <mat-form-field class="mt-4">
    <input matInput (keyup)="applyFilter($event.target.value)" i18n-placeholder="FILTER|Filter" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
    <table class="w-100" mat-table [dataSource]="dataSource" matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="NAME|Name"> Name </th>
        <td mat-cell *matCellDef="let row"> <b>{{row.name}}</b> </td>
        </ng-container>

        <!-- Start Date -->
        <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="START_DATE|Start Date"> Start Date </th>
        <td mat-cell *matCellDef="let row"> {{row.startDate | date}} </td>
        </ng-container>

        <!-- End Date -->
        <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="END_DATE|End Date"> End Date </th>
        <td mat-cell *matCellDef="let row"> {{row.endDate | date}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="ACTIONS|Actions"> Actions </th>
        <td mat-cell *matCellDef="let row">
            <div class="d-flex">
            <button class="mr-2" mat-raised-button color="warn" i18n="REMOVE|Remove">Remove</button>
            <button [routerLink]="['/worry/', row.id]" class="mr-2" mat-raised-button color="primary" i18n="VIEW|View">View</button>
            <button [routerLink]="['/edit/worry/', row.id]" mat-raised-button color="primary" i18n="EDIT|Edit">Edit</button>
            </div>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSize]="worriesPageSize" [pageSizeOptions]="[5, 10, 25, 100]" [length]="worriesCount" (page)="worriesPageChanged($event)" ></mat-paginator>
    </div>

