<h1 mat-dialog-title>{{data.worry.name}}</h1>
<div mat-dialog-content>
  <div class="alert alert-danger text-center" *ngIf="error">
    {{errorMessage}}
  </div>
  <p class="text-center">{{data.worry.description}}</p>
  <form [formGroup]="createOpinionForm">

    <div class="w-100 d-flex justify-content-center">

        <div class="d-flex flex-column">
            <mat-radio-group aria-label="Select an option" formControlName="type">
                <mat-radio-button [checked]="createOpinionForm.controls.type.value == 1" class="mx-2" [value]="for_val">{{data.worry.labelFor}}</mat-radio-button>
                <mat-radio-button [checked]="createOpinionForm.controls.type.value == 0" class="mx-2" [value]="against_val">{{data.worry.labelAgainst}}</mat-radio-button>
            </mat-radio-group>
        </div>
        
    </div>

    <mat-form-field class="w-100">
        <textarea matInput placeholder="Your Opinion" formControlName="text"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button [disabled]="!createOpinionForm.valid" type="submit" (click)="onSubmit()" mat-button>Submit</button>
  <button mat-button [mat-dialog-close]="null" cdkFocusInitial>Cancel</button>
</div>