<div class="m-5 card border-secondary">

  <div class="card-header">
      Create new worry
  </div>
  <div class="card-body">
      <form enctype="multipart/form-data" [formGroup]="newWorryForm"  (ngSubmit)="onSubmit()">

        <div class="alert alert-danger" role="alert" *ngIf='errorMessage'>
            {{ errorMessage }}
        </div>

        <div class="alert alert-success" role="alert" *ngIf='success'>
            Your worry was successfully created.
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Worry Title" formControlName="name">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="tex" class="form-control" id="description" placeholder="Enter a description" formControlName="description"></textarea>
        </div>

        <div class="form-group">
            <label for="image">Image File</label>
            <app-file-input formControlName="image" id="image"></app-file-input>
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" formControlName="categoryId">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
        </div>

        <div class="row form-group">
            <div class="col">
                <label for="lfor">Label used for arguments in favor</label>
                <input type="text" class="form-control" id="lfor" placeholder="" formControlName="labelFor">
            </div>
            <div class="col">
                <label for="lagainst">Label used for arguments against</label>
                <input type="text" class="form-control" id="lagainst" placeholder="" formControlName="labelAgainst">
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <mat-form-field class="w-100">
                    <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="w-100" >
                    <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>

        <div class="form-group">
            <label for="tags">Tags</label>
            <tag-input id="tags" maxItems="5"  [(ngModel)]='tags' [ngModelOptions]="{standalone: true}">
            </tag-input>
        </div>

        <button type="submit" class="btn btn-primary float-right" [disabled]="!newWorryForm.valid">Submit</button>
    </form>
  </div>

</div>


