
<div class="container my-4">

    <mat-tab-group>
        <mat-tab label="Profile"> 
            <div class="tab-pane active pt-3" id="edit">
                <form *ngIf="profileForm && user" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
    
                    <div class="alert alert-danger" role="alert" *ngIf='error' i18n="ERROR_UPDATING_PROFILE|Error message when updating profile" >
                        An error occured while updating the user's profile
                    </div>
    
                    <div class="alert alert-success" role="alert" *ngIf='success' i18n="SUCCESS_UPDATING_PROFILE|Success message when updating profile" >
                        Account was succesfully updated
                    </div>
    
                    <div class="d-flex justify-content-center align-items-start my-3">
                        <ngx-file-drop
                        dropZoneLabel="Drop Profile Image Here"
                        i18n-dropZoneLabel="@@DROP_PROFILE_IMAGE_HERE"
                        accept="image/*"
                        directory="false"
                        dropZoneClassName="d-zone-area"
                        contentClassName="d-zone-content text-muted"
                        (onFileDrop)="fileDropped($event)"
                        multiple="false"
                        *ngIf="!profileImagePath">
                    </ngx-file-drop>

                    <div *ngIf="!profileImagePath" class="w-100 d-flex justify-content-center">
                        <app-image-select-button (onImageSelected)="imageSelected($event)" i18n-label="@@SELECT_PROFILE_IMAGE" label="Select Profile Image"></app-image-select-button>
                      </div>
    
                    <div class="w-100 d-flex justify-content-center align-items-start" *ngIf="profileImagePath">
                        <img class="profileImage p-1 border" [src]="profileImagePath">
                        <button mat-icon-button aria-label="Remove" color="warn" (click)="removeImage()">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
    
                    </div>
    
                    <div class="d-flex text-muted justify-content-center">
                        {{user.email}}
                    </div>

                    <div class="d-flex flex-column" formGroupName="profile" >
                        <div class="d-flex mb-3">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Display Name" formControlName="displayName">
                                <mat-hint align="start" i18n="DISPLAY_NAME_HING|Hint for the display name">This is the name displayed in your posts. </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="d-flex" formGroupName="name">

                            <mat-form-field class="pr-2 flex-grow-1">
                                <input matInput placeholder="First Name" formControlName="givenName">
                            </mat-form-field>
                            <mat-form-field class="pl-2 flex-grow-1">
                                <input matInput placeholder="Middle Name" formControlName="middleName">
                            </mat-form-field>
                            <mat-form-field class="pl-2 flex-grow-1">
                                <input matInput placeholder="Last Name" formControlName="familyName">
                            </mat-form-field>
                        </div>
    
                        <mat-form-field class="w-100 my-2" >
                            <textarea matInput placeholder="About" formControlName="about"></textarea>
                            <mat-hint align="start" i18n="USER_DESCRIPTION_HINT|Hint for the user's description">Enter a short description about yourself.</mat-hint>
                        </mat-form-field>
    
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="dob" placeholder="Birth Date" formControlName="dob">
                            <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                            <mat-datepicker #dob startView="year"></mat-datepicker>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label i18n="GENDER|Gender">Gender</mat-label>
                            <mat-select formControlName="gender" name="gender">
                                <mat-option *ngFor="let gender of genders | keyvalue" [value]="gender.value">
                                {{gender.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
    
                        <div class="form-group">
                            <label for="tags" i18n="INTERESTS|Interests">Interests</label>
                            <tag-input id="interests" maxItems="10" modelAsStrings="true" formControlName="interests">
                            </tag-input>
                        </div>
    
                    </div>
    
                    <div class="d-flex flex-column">
                        <mat-form-field class="flex-grow-1" *ngIf="profile.provider == 'myworry'" >
                            <input type="password" matInput placeholder="Old Password" formControlName="oldPassword">
                        </mat-form-field>
                        <h4 class="text-info" *ngIf="profile.provider != 'myworry'" i18n="CREATE_NEW_PASSWORD|Create new password">Create New Password</h4>
                        <mat-form-field class="flex-grow-1">
                            <input type="password" matInput i18n-placeholder="PASSWORD|Password" placeholder="Password" formControlName="password">
                        </mat-form-field>
                        <mat-form-field class="flex-grow-1">
                            <input type="password" matInput i18n-placeholder="CONFIRM_PASSWORD|Confirm Password" placeholder="Confirm Password" formControlName="confirmPassword">
                            <mat-error i18n="PASSWORDS_DONT_MATCH|Passwords don't match error message" *ngIf="profileForm.controls.confirmPassword.hasError('notEquivalent')">
                                Passwords don't match
                            </mat-error>
                        </mat-form-field>
                    </div>
    
                    <div class="d-flex w-100">
                        <button class="ml-auto" type="submit" mat-raised-button color="primary" [disabled]="!profileForm.valid" i18n="UPDATE|Update">Update</button>
                    </div>
    
                </form>
            </div>
        </mat-tab>
        <mat-tab i18n-label="YOUR_WORRIES|Your Worries" label="Your Worries"> 
            <div class="tab-pane" id="worries">

               <app-worry-table worriesCount='worriesCount' [worries]='worries' (pageChanged)='myWorriesPageChanged($event)'></app-worry-table>
    
            </div> 
        </mat-tab>
        <mat-tab i18n-label="SHARED_WORRIES|Shared Worries" label="Shared Worries"> 
            <div class="tab-pane" id="shared-worries">
               <app-worry-table worriesCount='sharedWorriesCount' [worries]='sharedWorries' (pageChanged)='sharedWorriesPageChanged($event)'></app-worry-table>
            </div> 
        </mat-tab>
        <mat-tab i18n-label="RECENT_ACTIVITIES|Recent Activities" label="Recent Activities"> 
            <div class="tab-pane">
                <div class="row" *ngIf="user">
                    <div class="col-md-12">
                        
                        <mat-form-field class="mt-4">
                            <input matInput (keyup)="applyTrailFilter($event.target.value)" i18n-placeholder="FILTER|Filter" placeholder="Filter">
                          </mat-form-field>
                          
                          <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="trailDataSource" matSort>
                          
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="DATE|Date" >Date</th>
                                <td mat-cell *matCellDef="let trail"> 
                                    <span class="mr-4">{{trail.date_created | date:'medium'}}</span>
                                </td>
                            </ng-container>
    
                              <ng-container matColumnDef="trail">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="ACTIVITY|Activity">Activity</th>
                                <td mat-cell *matCellDef="let trail"> 
                                    <strong>{{trail.userName}}</strong> {{trail.Action}}d {{trail.Entity}} <strong>`{{trail.EntityName}}`</strong>
                                </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="displayedTrailColumns"></tr>
                              <tr mat-row *matRowDef="let trail; columns: displayedTrailColumns;">
                              </tr>
                            </table>
                          
                            <mat-paginator [pageSize]="auditsPageSize" [pageSizeOptions]="[5, 10, 25, 100]" [length]="auditsCount" (page)="auditTrailPageChanged($event)"></mat-paginator>
                          </div>
    
                    </div>
                </div>
                <!--/row-->
            </div> 
        </mat-tab>
      </mat-tab-group>

</div>

        

