<div class="container my-4">

    <mat-tab-group>
        <mat-tab label="Profile"> 
            <div class="tab-pane active pt-3" id="edit">
                <form *ngIf="profileForm && user" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
    
                    <div class="alert alert-danger" role="alert" *ngIf='error'>
                        {{ errorMessage }}
                    </div>
    
                    <div class="alert alert-success" role="alert" *ngIf='success'>
                        {{ successMessage }}
                    </div>
    
                    <div class="d-flex justify-content-center align-items-start my-3">
                        <ngx-file-drop
                        dropZoneLabel="Drop Profile Image Here"
                        accept="image/*"
                        directory="false"
                        dropZoneLabel="Drop profile picture here"
                        dropZoneClassName="d-zone-area"
                        contentClassName="d-zone-content text-muted"
                        (onFileDrop)="fileDropped($event)"
                        multiple="false"
                        *ngIf="!profileImagePath">
                    </ngx-file-drop>
    
                    <div class="w-100 d-flex justify-content-center align-items-start" *ngIf="profileImagePath">
                        <img class="profileImage p-1 border" [src]="profileImagePath">
                        <button mat-icon-button aria-label="Remove" color="warn" (click)="removeImage()">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
    
                    </div>
    
                    <div class="d-flex text-muted justify-content-center">
                        {{user.email}}
                    </div>

                    <div class="d-flex flex-column" formGroupName="profile" >
                        <div class="d-flex mb-3">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Display Name" formControlName="displayName">
                                <mat-hint align="start">This is the name displayed in your posts. </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="d-flex" formGroupName="name">

                            <mat-form-field class="pr-2 flex-grow-1">
                                <input matInput placeholder="First Name" formControlName="givenName">
                            </mat-form-field>
                            <mat-form-field class="pl-2 flex-grow-1">
                                <input matInput placeholder="Middle Name" formControlName="middleName">
                            </mat-form-field>
                            <mat-form-field class="pl-2 flex-grow-1">
                                <input matInput placeholder="Last Name" formControlName="familyName">
                            </mat-form-field>
                        </div>
    
                        <mat-form-field class="w-100 my-2" >
                            <textarea matInput placeholder="About" formControlName="about"></textarea>
                            <mat-hint align="start">Enter a short description about yourself.</mat-hint>
                        </mat-form-field>
    
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="dob" placeholder="Birth Date" formControlName="dob">
                            <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                            <mat-datepicker #dob startView="year"></mat-datepicker>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender" name="gender">
                                <mat-option *ngFor="let gender of genders | keyvalue" [value]="gender.value">
                                {{gender.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
    
                        <div class="form-group">
                            <label for="tags">Interests</label>
                            <tag-input id="interests" maxItems="10" modelAsStrings="true" formControlName="interests">
                            </tag-input>
                        </div>
    
                    </div>
    
                    <div class="d-flex flex-column">
                        <mat-form-field class="flex-grow-1" *ngIf="profile.provider == 'myworry'" >
                            <input type="password" matInput placeholder="Old Password" formControlName="oldPassword">
                        </mat-form-field>
                        <h4 class="text-info" *ngIf="profile.provider != 'myworry'">Create New Password</h4>
                        <mat-form-field class="flex-grow-1">
                            <input type="password" matInput placeholder="Password" formControlName="password">
                        </mat-form-field>
                        <mat-form-field class="flex-grow-1">
                            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                            <mat-error *ngIf="profileForm.controls.confirmPassword.hasError('notEquivalent')">
                                Passwords don't match
                            </mat-error>
                        </mat-form-field>
                    </div>
    
                    <div class="d-flex w-100">
                        <button class="ml-auto" type="submit" mat-raised-button color="primary" [disabled]="!profileForm.valid">Update</button>
                    </div>
    
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Your Worries"> 
            <div class="tab-pane" id="worries">

                <mat-form-field class="mt-4">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
    
                <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
    
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> <b>{{row.name}}</b> </td>
                    </ng-container>
    
                    <!-- Start Date -->
                    <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.startDate | date}} </td>
                    </ng-container>
    
                    <!-- End Date -->
                    <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.endDate | date}} </td>
                    </ng-container>
    
                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="d-flex">
                        <button class="mr-2" mat-raised-button color="warn">Remove</button>
                        <button [routerLink]="['/worry/', row.id]" class="mr-2" mat-raised-button color="primary">View</button>
                        <button [routerLink]="['/edit/worry/', row.id]" mat-raised-button color="primary">Edit</button>
                        </div>
                    </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
    
                <mat-paginator [pageSize]="worriesPageSize" [pageSizeOptions]="[5, 10, 25, 100]" [length]="worriesCount" (page)="worriesPageChanged($event)" ></mat-paginator>
                </div>
    
            </div> 
        </mat-tab>
        <mat-tab label="Recent Activities"> 
            <div class="tab-pane">
                <div class="row" *ngIf="user">
                    <div class="col-md-12">
                        
                        <mat-form-field class="mt-4">
                            <input matInput (keyup)="applyTrailFilter($event.target.value)" placeholder="Filter">
                          </mat-form-field>
                          
                          <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="trailDataSource" matSort>
                          
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                <td mat-cell *matCellDef="let trail"> 
                                    <span class="mr-4">{{trail.date_created | date:'medium'}}</span>
                                </td>
                            </ng-container>
    
                              <ng-container matColumnDef="trail">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity</th>
                                <td mat-cell *matCellDef="let trail"> 
                                    <strong>{{trail.userName}}</strong> {{trail.Action}}d {{trail.Entity}} <strong>`{{trail.EntityName}}`</strong>
                                </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="displayedTrailColumns"></tr>
                              <tr mat-row *matRowDef="let trail; columns: displayedTrailColumns;">
                              </tr>
                            </table>
                          
                            <mat-paginator [pageSize]="auditsPageSize" [pageSizeOptions]="[5, 10, 25, 100]" [length]="auditsCount" (page)="auditTrailPageChanged($event)"></mat-paginator>
                          </div>
    
                    </div>
                </div>
                <!--/row-->
            </div> 
        </mat-tab>
      </mat-tab-group>

</div>

        

