
<nav class="navbar navbar-expand-lg sticky-top primary mat-elevation-z5">
  <button routerLink="/" color="primary" mat-flat-button>MyWorry</button>
  <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <mat-icon class="text-white" aria-hidden="false">menu</mat-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="!authService.loggedIn">
            <a color="primary" mat-flat-button routerLink="/login">Sign In</a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn">
            <a color="primary" mat-flat-button href="{{environment.ApiUrl}}auth/thirdparty/facebook">Facebook Login</a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn">
            <a color="primary" mat-flat-button routerLink="/signup">Sign Up</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn">
            <a color="primary" mat-flat-button [routerLink]="" (click)='logout()'>Logout</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn && userService.user">
            <a color="primary" mat-flat-button routerLink="/account/profile">{{userService.user.email}}</a>
          </li>
      </ul>

  </div>
</nav>

<div class="w-100" style="min-height: calc(100vh - 124px);">
    <router-outlet></router-outlet>
</div>




