<div class="w-100 d-flex justify-content-center">
    <div class="col-lg-6 col-sm-12 col-md-6">
        <div class="m-5 card border-secondary" *ngIf="newWorryForm">


            <mat-toolbar class="card-header" color="primary">Create worry</mat-toolbar>

            <div class="card-body">

              <div class="alert alert-danger" role="alert" *ngIf='errorMessage'>
                  {{ errorMessage }}
              </div>

              <div class="alert alert-success" role="alert" *ngIf='success'>
                  Your worry was successfully created.
              </div>



                <ngx-file-drop
                  dropZoneLabel="Drop Image Here"
                  (onFileDrop)="fileDropped($event)"
                  accept="image/*"
                  dropZoneLabel="Drop image here"
                  dropZoneClassName="d-zone-area"
                  contentClassName="d-zone-content text-muted"
                  directory="false"
                  multiple="false"
                  *ngIf="!imagePath">
                  
                </ngx-file-drop>

                <div class="w-100 d-flex justify-content-center my-2" *ngIf="imagePath">
                  <img class="worryImage border p-1" [src]="imagePath">
                  <button type="button" mat-icon-button aria-label="Remove" color="warn" (click)="removeImage()">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </div>

                <form [formGroup]="newWorryForm"  (ngSubmit)="onSubmit()">

                  <mat-form-field class="w-100">
                      <input matInput placeholder="Title" formControlName="name">
                      <mat-error *ngIf="newWorryForm.controls.name.hasError('minlength') && !newWorryForm.controls.name.hasError('required')">
                        A min length of 6 is required.
                      </mat-error>
                      <mat-error *ngIf="newWorryForm.controls.name.hasError('required')">
                        A worry title is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>

                  <mat-form-field class="w-100" >
                      <textarea matInput placeholder="Description" formControlName="description"></textarea>
                  </mat-form-field>

                  <div class="row form-group">
                      <div class="col">
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Label for first opinion button" formControlName="opinion1Label">
                              <mat-error *ngIf="newWorryForm.controls.opinion1Label.hasError('minlength') && !newWorryForm.controls.labelFor.hasError('required')">
                                A min length of 2 is required.
                              </mat-error>
                              <mat-error *ngIf="newWorryForm.controls.opinion1Label.hasError('required')">
                                A label for the first opinion is <strong>required</strong>
                              </mat-error>
                          </mat-form-field>
                      </div>
                      <div class="col">
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Label for second opinion button" formControlName="opinion2Label">
                              <mat-error *ngIf="newWorryForm.controls.opinion2Label.hasError('minlength') && !newWorryForm.controls.labelAgainst.hasError('required')">
                                A min length of 2 is required.
                              </mat-error>
                              <mat-error *ngIf="newWorryForm.controls.opinion2Label.hasError('required')">
                                A label for the second opinion is <strong>required</strong>
                              </mat-error>
                          </mat-form-field>
                      </div>
                  </div>

                  <div class="row form-group">
                    <div class="col">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Label for third opinion button" formControlName="opinion3Label">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Label for fourth opinion button" formControlName="opinion4Label">
                        </mat-form-field>
                    </div>
                  </div>

                  <div class="row form-group">
                      <div class="col">
                          <mat-form-field class="w-100">
                              <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" formControlName="startDate">
                              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                              <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                      </div>
                      <div class="col">
                          <mat-form-field class="w-100" >
                              <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" formControlName="endDate">
                              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                              <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="tags">Tags</label>
                      <tag-input modelAsStrings="true" (onAdd)="onTagAdded($event)" id="tags" maxItems="5"  [(ngModel)]='tags' [ngModelOptions]="{standalone: true}">
                        <tag-input-dropdown [autocompleteObservable]='requestAutocompleteItems'></tag-input-dropdown>
                      </tag-input>
                  </div>

                  <div class="form-group">
                    <mat-slide-toggle formControlName="isPrivate">Private</mat-slide-toggle>
                  </div>


                  <button type="submit" mat-raised-button color="primary" class="float-right" [disabled]="!newWorryForm.valid">Submit</button>
              </form>
            </div>

          </div>
    </div>
</div>





