<div class="my-2 addOpinionContainer d-flex">
    <div>
      <img [ngClass]="opinionBorder" mat-card-avatar *ngIf="authService.loggedIn && authService.user.userIdentity.profile.profileImage" [src]="authService.user.userIdentity.profile.profileImage">
      <mat-icon [ngClass]="opinionBorder" mat-card-avatar color="primary" *ngIf="!authService.loggedIn || !authService.user.userIdentity.profile.profileImage" aria-hidden="false" style="font-size: 40px; width: 40px; height: 40px;" aria-label="Profile Image">face</mat-icon>
  </div>
  <div class="ml-2 d-flex card flex-grow-1 flex-column p-2">
    <div class="d-flex w-100">
        <div style="font-size: 14px;" class="d-flex align-items-center mb-2 font-weight-bold">{{authService.user.displayName}}</div>
    </div>
    <mat-divider></mat-divider>
    <mat-form-field style="font-size: 12px;" class="select-opinion w-100">
      <mat-select (selectionChange)="opinionSelectionChanged($event)" [(ngModel)]="selectedOpinion" name="opinion">
        <mat-option *ngFor="let opinion of opinions" [value]="opinion.value">
          {{opinion.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <textarea placeholder="Comment on your opinion" style="height: 40px; font-size: 12px;" class="opinion-reply-area form-control border-0 flex-grow-1 ml-1"></textarea>
    <div i18n="WORRY_LOCKED_ERR|Worry is locked error message" class="mt-3 alert alert-danger text-center w-100" *ngIf="addOpinionError == 'WORRY_LOCKED'">
      You can't add opinions to a worry that is locked. 
    </div>
    <div i18n="OPINION_INVALID_USER|You are not allowed to create an opinion on someones behalf" class="mt-3 alert alert-danger text-center w-100" *ngIf="addOpinionError == 'INVALID_USER'">
      You are not allowed to create an opinion on someones behalf
    </div>
    <div i18n="MAX_OPINIONS_REACHED|Max opinions reached" class="mt-3 alert alert-danger text-center w-100" *ngIf="addOpinionError == 'MAX_OPINIONS_REACHED'">
      You can no longer add opinions to this worry. 
    </div>
  </div>
</div>
<div class="d-flex w-100 justify-content-end my-1">
  <button mat-raised-button class="mr-2" i18n="@@CANCEL" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="accent" i18n="@@SUBMIT" (click)="submitOpinion()">Submit</button>
</div>


 