<div class="container w-100 h-100 p-4 mt-5 d-flex flex-column align-items-center">

    <mat-spinner *ngIf="loading"></mat-spinner>

    <div class="w-100"  *ngIf="activationFailure">
        <div i18n="INVALID_ACTIVATION_TOKEN|activation token invalid message" class="alert alert-danger text-center w-100" *ngIf="activationError == 'TOKEN_INVALID'">
            The activation token is invalid.
        </div>
        <div i18n="EXPIRED_ACTIVATION_TOKEN|activation token expired message" class="alert alert-danger text-center w-100" *ngIf="activationError == 'TOKEN_EXPIRED'">
            The activation token has expired.
        </div>
        <div i18n="EMAIL_ALREADY_VERIFIED|Email already verified error message" class="alert alert-danger text-center w-100" *ngIf="activationEmailNotSent == 'EMAIL_ALREADY_VERIFIED'">
            The email provided is already verified.
        </div> 
        <div i18n="EMAIL_DOESNT_EXIST|Email doesn't exist error message" class="alert alert-danger text-center w-100" *ngIf="activationEmailNotSent == 'EMAIL_NOT_FOUND'">
            The email entered was not found.
        </div>        
        <div class="alert alert-success text-center w-100" *ngIf="activationEmailSent"> 
            <span i18n="ACTIVATION_SENT|Activation was successfully sent to ...">Activation email was successfully sent to </span>{{resendActivationForm.value.email}}. 
        </div>
        <p i18n="RESENT_ACTIVATION_EMAIL|Resend activation email">Resend activation email</p>
        <form class="w-100" [formGroup]="resendActivationForm" (ngSubmit)="onResendActivation()">
            <div class="d-flex align-items-start w-100">
                <mat-form-field class="flex-grow-1">
                    <mat-label i18n="ENTER_YOUT_EMAIL|Enter your email label">Enter your email</mat-label>
                    <input matInput placeholder="email@example.com" formControlName="email" required>
                    <mat-error *ngIf="resendActivationForm.controls.email.hasError('email')" i18n="INVALID_EMAIL|Invalid email error message">The email entered is invalid</mat-error>
                  </mat-form-field>
                  <button [disabled]="!resendActivationForm.valid" color="accent" mat-raised-button type="submit" i18n="RESEND_LABEL|Resend button label">Resend</button>
            </div>
        </form>
    </div>

    <div class="d-flex flex-column" *ngIf="activationSuccess">
        <div class="alert alert-success text-center w-100" i18n="ACTIVATION_SUCCESSFUL_MESSAGE|Message displayed when account is successfully activated">
            Your account was successfully activated. 
        </div>
        <div class="d-flex justify-content-center">
            <a class="d-inline mx-2" color="accent" mat-flat-button routerLink="/login" i18n="SIGN_IN|Sign in">Sign In</a>
        </div>
    </div>

    

</div>