<div class="my-5 d-flex justify-content-center" *ngIf="worry$ | async as worry">

  <div class="container-fluid">

    <div class="d-flex flex-column align-items-center">

      <div class="col-md-6 col-sm-12">
        <mat-card class="w-100">
          <mat-card-header>
            <img mat-card-avatar [src]="getUserProfileImage()">
            <mat-card-title>{{worry.name}}</mat-card-title>
            <mat-card-subtitle>Created on {{worry.date_created | date}} by <b>{{worry.user.displayName}}</b></mat-card-subtitle>
            <div class="ml-auto" *ngIf="userService.user && worry.user.id == userService.user.id">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button routerLink="/edit/worry/{{worry.id}}" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button (click)="share()" mat-menu-item>
                  <mat-icon>share</mat-icon>
                  <span>Share with</span>
                </button>
                <button (click)="toggleLock()" mat-menu-item>
                  <mat-icon *ngIf="!worry.locked">lock</mat-icon>
                  <mat-icon *ngIf="worry.locked">lock_open</mat-icon>
                  <span>{{worry.locked ? 'Unlock' : 'Lock'}}</span>
                </button>
              </mat-menu>
            </div>
          </mat-card-header>
          <div class="d-flex justify-content-center p-4">
            <img mat-card-image class="worry-image" [src]="worry.image" alt="Worry Description Image">
          </div>
          <mat-card-content>
            <p>
              {{worry.description}}
            </p>

            <div class="d-flex justify-content-center">
                <button [disabled]="expired || worry.locked" class="mx-2 opinion1-button-background mb-2" (click)="addOpinion(1)" mat-raised-button>{{worry.opinion1Label}}</button>
                <button [disabled]="expired || worry.locked" class="mx-2 opinion2-button-background mb-2" (click)="addOpinion(2)" mat-raised-button>{{worry.opinion2Label}}</button>
                <button [disabled]="expired || worry.locked || !worry.opinion3Label" class="mx-2 opinion3-button-background mb-2" (click)="addOpinion(3)" mat-raised-button>{{worry.opinion3Label}}</button>
                <button [disabled]="expired || worry.locked || !worry.opinion4Label" class="mx-2 opinion4-button-background mb-2" (click)="addOpinion(4)" mat-raised-button>{{worry.opinion4Label}}</button>
            </div>

            <div class="d-flex justify-content-center my-2">
              <a mat-button (click)="viewStats()">View Statistics</a>
            </div>

            <div class="d-flex mt-2 justify-content-center" *ngIf="!expired">
              <p>Available from {{worry.startDate | date}} - {{worry.endDate | date}}</p>
            </div>

            <mat-chip-list aria-label="Tags">
              <mat-chip color="primary" *ngFor="let tag of worry.tags" selected>{{tag}}</mat-chip>
            </mat-chip-list>

            <div class="mt-3 text-center text-danger" *ngIf="expired">
              <p><strong>This item has expired</strong></p>
            </div>

            <div class="mt-3 text-center text-danger" *ngIf="worry.locked">
              <p><strong>This item is locked</strong></p>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

      <div class="container opinions w-100">
        <div [class.pl-5]="opinion.type == 1 || opinion.type == 3" [class.pr-5]="opinion.type == 2 || opinion.type == 4" *ngFor="let opinion of worry.opinions">
          <app-opinion (editOpinion)="onOpinionEdit($event)" (removeOpinion)="onOpinionRemoved($event)" [opinion]="opinion" [worry]="worry"></app-opinion>
        </div>
      </div>

    </div>


    

  </div>

</div>

<div class="d-flex justify-content-center my-5" *ngIf="unauthorized">
  <div class="alert alert-danger">{{unauthorizedMessage}}</div>
</div>
