<div class="container-fluid d-flex justify-content-center" *ngIf="worry$ | async as worry">

  <div class="col-lg-3 col-md-4 col-sm-12">
    <div>
      <mat-card class="w-100">
        <mat-card-header>
          <div mat-card-avatar *ngIf="worry.user.profile && worry.user.profile.image">
            <img [src]="worry.user.profile.image">
          </div>
          <mat-card-title>{{worry.name}}</mat-card-title>
          <mat-card-subtitle>{{worry.user.displayName}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="worry-image" [src]="imagePath" alt="Worry Description Image">
        <mat-card-content>
          <p>
            {{worry.description}}
          </p>
        </mat-card-content>
        <mat-card-actions class="d-flex">
          <button class="mr-auto" (click)="addOpinion(1)" mat-button>{{worry.labelFor}}</button>
          <button class="ml-auto" (click)="addOpinion(0)" mat-button>{{worry.labelAgainst}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  
    <div class="opinions">
      <div [class.pl-4]="opinion.type == 0" [class.pr-4]="opinion.type == 1" *ngFor="let opinion of worry.opinions">
        <app-opinion [opinion]="opinion"></app-opinion>
      </div>
    </div>
  </div>
  

</div>
