<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <div class="d-flex justify-content-center">
        <mat-icon class="text-danger" *ngIf="data.type == 'Warning'" aria-hidden="false" aria-label="Error">warning</mat-icon>
        <mat-icon class="text-info" *ngIf="data.type == 'Info'" aria-hidden="false" aria-label="Error">info</mat-icon>
        <p class="ml-2">{{data.message}}</p>
    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  
  <button mat-raised-button color="warn" [mat-dialog-close]="null" cdkFocusInitial>{{data.noLabel}}</button>
  <button mat-raised-button color="primary" (click)="yesClicked()">{{data.yesLabel}}</button>
</div>