<mat-toolbar mat-dialog-title class="d-flex" color="primary">
  <span>{{data.worry.name}}</span>
  <mat-icon class="ml-auto" aria-hidden="false" [mat-dialog-close]="null" aria-label="Close">close</mat-icon>
</mat-toolbar><div mat-dialog-content>
  <div i18n="EDIT_OPINION_WARNING|Editing opinion invalidates likes to it" class="w-100 alert alert-warning mt-2 mb-4" *ngIf="data.opinion">
    Warning: Editing an opinion will remove all likes associated with it. 
  </div>
  <div i18n="ERROR_EDITING_OPINION|An error occured while editing opinion" class="alert alert-danger text-center" *ngIf="error">
    An error occured while editing opinion
  </div>
  <p class="text-center">{{data.worry.description}}</p>
  <form [formGroup]="createOpinionForm">

    <div class="w-100 d-flex justify-content-center">

        <div class="d-flex flex-column">
            <mat-radio-group aria-label="Select an option" formControlName="type">
                <mat-radio-button [checked]="createOpinionForm.controls.type.value == 1" class="mx-2" [value]="1">{{data.worry.opinion1Label}}</mat-radio-button>
                <mat-radio-button [checked]="createOpinionForm.controls.type.value == 2" class="mx-2" [value]="2">{{data.worry.opinion2Label}}</mat-radio-button>
                <mat-radio-button [checked]="createOpinionForm.controls.type.value == 3" class="mx-2" [value]="3">{{data.worry.opinion3Label}}</mat-radio-button>
                <mat-radio-button [checked]="createOpinionForm.controls.type.value == 4" class="mx-2" [value]="4">{{data.worry.opinion4Label}}</mat-radio-button>
            </mat-radio-group>
        </div>
        
    </div>

    <mat-form-field class="w-100">
        <textarea matInput i18n-placeholder="YOUR_OPINION|Your Opinion" placeholder="Your Opinion" formControlName="text"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button color="primary" mat-raised-button [mat-dialog-close]="null" cdkFocusInitial i18n="CANCEL|Cancel">Cancel</button>
  <button color="accent" [disabled]="!createOpinionForm.valid" type="submit" (click)="onSubmit()" i18n="UPDATE|Update" mat-raised-button>Update</button>
</div>