.mission-icon{
    width: 60px;
    height: 60px;
    font-size: 60px;
}

.mission-title{
    font-weight: bold;
}

.mission-statement{
    margin-top: 15px;
    font-size: 13px;
    color: gray;
}

.mission-item{
    max-width: 300px;
}