@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

@import '~@angular/material/theming';
@include mat-core();

/* ======== Angular material custom themes ======== */ 
$my-worry-primary: mat-palette($mat-indigo);
$my-worry-accent: mat-palette($mat-amber);
$my-worry-warn: mat-palette($mat-red);

$my-worry-theme: mat-light-theme($my-worry-primary, $my-worry-accent, $my-worry-warn);


// import custom componenet themes
// unofficial naming convention to support nice ordering of files in IDE 
// to see theme under the original style file of the componenent
@import 'app/component-themes/app.component.scss';

// you only have to add additional componenets here (instead of in every theme class)
@mixin custom-components-theme($theme) {
  @include app-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($my-worry-theme);
  
  // include custom components theme mixin once per theme class
  @include custom-components-theme($my-worry-theme);
}


