/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400");

html, body, app-home { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo-text{
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  align-self: center;
}

$opinion1Color: #338bcc;
$opinion2Color: #de4a1f;
$opinion3Color: #00bfa5;
$opinion4Color: #ffab00;

.opinion1-text{ color: $opinion1Color; }
.opinion2-text{ color: $opinion2Color; }
.opinion3-text{ color: $opinion3Color; }
.opinion4-text{ color: $opinion4Color; }

.component-container{
  min-height: calc(100vh - 124px);
  width: 100vw;
}

.opinion1-button-background { background-color: $opinion1Color !important; color: #FFFFFF !important; }
.opinion2-button-background { background-color: $opinion2Color !important; color: #FFFFFF !important; }
.opinion3-button-background { background-color: $opinion3Color !important; color: #FFFFFF !important; }
.opinion4-button-background { background-color: $opinion4Color !important; color: #FFFFFF !important; }

.opinion1-border { border-right: 3px solid $opinion1Color ; }
.opinion2-border { border-left: 3px solid $opinion2Color ; }
.opinion3-border { border-right: 3px solid $opinion3Color ; }
.opinion4-border { border-left: 3px solid $opinion4Color ; }


.profileImage
{
    max-height: 190px;
    max-width: 190px;
    border-radius: 50%;
}

footer
{
  width: 100%;
  
}

.d-zone-area{

  padding: 15px;
  border: 1px dotted gray;
  border-radius: 5px;
  
}

.d-zone-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

