/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.for-border
{
  border-right: 3px solid #338bcc;
}

.against-border
{
  border-left: 3px solid #de4a1f;
}

.left-background
{
  background-color: #de4a1f !important;
  color: #FFFFFF !important;
}

.right-background
{
  background-color: #338bcc !important;
  color: #FFFFFF !important;
}

.profileImage
{
    height: 190px;
    width: 190px;
    border-radius: 50%;
}

footer
{
  width: 100%;
  
}

.drop-zone
{
    border-radius: 10px;
    border: 2px dotted gray;
}