<div class="container mt-5">
    <form class="mb-5" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="d-flex">
            <input class="form-control mr-2" formControlName="q">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </form>

    <div class="d-flex justify-content-center mt-2 mb-5" *ngIf="authService.loggedIn">
        <button routerLink="/worry/new"  class="btn btn-info" >New Worry</button>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4" *ngFor='let worry of worries'>
                <div class="card">
                    <img class="card-img-top w-100" src="assets/images/worry.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{worry.name}}</h5>
                        <p class="card-subtitle mb-2 text-muted d-flex">
                            <span class="mr-auto">{{worry.user.displayName}}</span>
                            <span class="ml-auto">{{worry.date_created | date:'mediumDate'}}</span>
                        </p>
                        <p class="card-subtitle mb-2 text-muted d-flex">
                            Open from <b class="mx-1"> {{worry.startDate | date:'mediumDate'}}</b> to <b class="mx-1"> {{worry.endDate | date:'mediumDate'}}</b> 
                        </p>
                        <p class="card-text">{{worry.description}}</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>