<div class="d-flex flex-column home-container component-container">

    <div class="d-flex justify-content-center align-items-center flex-grow-1">

        <div class="container py-3">
            <form class="mb-5" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <div class="d-flex">
                    <input class="form-control mr-2" formControlName="q">
                    <button color="primary" [disabled]="!searchForm.valid" mat-raised-button type="submit">Search</button>
                </div>
            </form>
        
            <div class="d-flex justify-content-center mt-2 mb-5" >
                <div class="d-flex flex-column align-items-center">
                    <p>Worried about something? Voice it!</p>
                    <div class="d-flex w-100 align-items-center my-2" *ngIf="!authService.loggedIn">
                        <a class="d-inline mx-2" color="accent" mat-flat-button routerLink="/login">Log In</a> or <a class="d-inline mx-2" color="accent" mat-flat-button routerLink="/signup">Sign Up</a> to voice your worries. 
                    </div>
                    <button *ngIf="authService.loggedIn" routerLink="/new/worry" color="accent" mat-raised-button >Post It</button>
                </div>
            </div>
            
        </div>
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12" *ngFor='let worry of worries'>
                <app-worry-item [worry]="worry"></app-worry-item>
            </div>

        </div>

    </div>
</div>
