<h2 mat-dialog-title i18n="WORRY_STATS|Worry Stats">Worry Stats</h2>

<mat-dialog-content class="mat-typography">
    <div class="w-100 d-flex flex-column">

      <div class="general-stats d-flex justify-content-center">
        <ngx-charts-pie-chart
        [view]="generalStatsOptions.view"
        [scheme]="generalStatsOptions.scheme"
        [results]="generalStatsOptions.results"
        [gradient]="generalStatsOptions.gradient"
        [legend]="generalStatsOptions.legend"
        [legendPosition]="generalStatsOptions.legendPosition"
        [labels]="generalStatsOptions.labels"
        [doughnut]="generalStatsOptions.doughnut"
        [legendTitle]="generalStatsOptions.legendTitle"
      >
        </ngx-charts-pie-chart>
      </div>
      

        <div class="d-flex flex-wrap justify-content-center">
          <ngx-charts-pie-chart *ngIf="maleOpinions.length > 0"
          [view]="maleStatsOptions.view"
          [scheme]="maleStatsOptions.scheme"
          [results]="maleStatsOptions.results"
          [gradient]="maleStatsOptions.gradient"
          [legend]="maleStatsOptions.legend"
          [legendPosition]="maleStatsOptions.legendPosition"
          [labels]="maleStatsOptions.labels"
          [doughnut]="maleStatsOptions.doughnut"
          [legendTitle]="maleStatsOptions.legendTitle"
        >
          </ngx-charts-pie-chart>
          <ngx-charts-pie-chart *ngIf="femaleOpinions.length > 0"
            [view]="femaleStatsOptions.view"
            [scheme]="femaleStatsOptions.scheme"
            [results]="femaleStatsOptions.results"
            [gradient]="femaleStatsOptions.gradient"
            [legend]="femaleStatsOptions.legend"
            [legendPosition]="femaleStatsOptions.legendPosition"
            [labels]="femaleStatsOptions.labels"
            [doughnut]="femaleStatsOptions.doughnut"
            [legendTitle]="femaleStatsOptions.legendTitle"
          >
            </ngx-charts-pie-chart>
        </div>
    </div>  
</mat-dialog-content>

<mat-dialog-actions class="p-2" align="end">
    <button mat-button mat-dialog-close i18n="CLOSE|Close">Close</button>
</mat-dialog-actions>

